// font-family: 'Dosis', sans-serif;
// font-family: 'Raleway', sans-serif;

$color-primary: rgb(23, 109, 131);
$color-primary-light: rgb(156, 205, 216);
$color-primary-dark: rgb(12, 79, 95);
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-gold-light-1: rgb(250, 242, 198);
$color-gold-light-2: rgb(219, 209, 152);
$color-gold-light-3: rgb(187, 175, 106);

$color-gold-dark-1: rgb(214, 175, 68);
$color-gold-dark-2: rgb(184, 147, 68);
$color-gold-dark-3: rgb(124, 104, 36);

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$color-white: #fff;
$color-black: #000;

$color-test: #2a435b;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap");

$font-primary: "Raleway", sans-serif;
$font-display: "Nunito", sans-serif;

@import "header";
@import "navigation";
@import "base";
@import "banner";
@import "features";
@import "footer";
@import "gallery";
@import "homes";
@import "story";
@import "sidebar";
@import "landing";
@import "product";
@import "components";
@import "form";

h1 {
  text-align: center;
  font-size: 4rem;
}

.product__image {
  display: block;
  height: 400px;
  margin: 0 auto;
}

.product__image-thumbnail {
  display: block;
  height: 200px;
  margin: 0 auto;
}

.product__image-large {
  display: block;
  height: 550px;
  margin: 0 auto;
}

.product__image-medium {
  display: block;
  height: 200px;
  margin: 0 auto;
}

.product__image-small {
  display: block;
  height: 200px;
  margin: 0 auto;
}

.align-left {
  margin-left: 30px;
}

.loading {
  text-align: center;
}
